# Surface Pro X additions to arm64 defconfig.
CONFIG_ARCH_QCOM=y
CONFIG_EFI=y
CONFIG_QCOM_QSEECOM=y
CONFIG_QCOM_QSEECOM_UEFISECAPP=y
CONFIG_SURFACE_AGGREGATOR=m
CONFIG_SURFACE_AGGREGATOR_BUS=y
CONFIG_SURFACE_AGGREGATOR_HUB=m
CONFIG_SURFACE_AGGREGATOR_REGISTRY=m
CONFIG_SURFACE_AGGREGATOR_TABLET_SWITCH=m
CONFIG_SURFACE_HID_CORE=m
CONFIG_SURFACE_HID=m
CONFIG_BATTERY_SURFACE=m
CONFIG_CHARGER_SURFACE=m
CONFIG_SURFACE_PLATFORM_PROFILE=m
CONFIG_SENSORS_SURFACE_TEMP=m
CONFIG_RTC_DRV_SURFACE=m
CONFIG_SPI_HID=m
CONFIG_TYPEC_UCSI=m
CONFIG_UCSI_ACPI=m
CONFIG_TYPEC_MUX_MSFT0005=m
CONFIG_SLIMBUS=m
CONFIG_SLIM_QCOM_NGD_CTRL=m
CONFIG_MFD_WCD934X=m
CONFIG_SOUNDWIRE=m
CONFIG_SOUNDWIRE_QCOM=m
CONFIG_SND_SOC_SDM845=m
CONFIG_SND_SOC_WCD934X=m
CONFIG_SND_SOC_WSA881X=m
CONFIG_SPMI_PMIC_CLKDIV=y
CONFIG_QCOM_SPMI_ADC5=m
CONFIG_QCOM_SPMI_ADC_TM5=m
CONFIG_QCOM_SPMI_TEMP_ALARM=m
CONFIG_INTERCONNECT_QCOM_SC8180X=y
CONFIG_SC_CAMCC_8180X=m
CONFIG_VIDEO_QCOM_CAMSS=m
CONFIG_VIDEO_OV13858=m
CONFIG_DRM=y
CONFIG_DRM_SIMPLEDRM=y
CONFIG_SYSFB_SIMPLEFB=y
CONFIG_DRIVER_DEFERRED_PROBE_TIMEOUT=-1
