[Unit]
Description=Surface Pro X audio postboot check
After=multi-user.target sound.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/spx-postboot-audio-check

[Install]
WantedBy=multi-user.target
